* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  height: 50px;
  background-color: #ff9a4b;
}

.center {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.box {
  flex-basis: 300px;
  background-color: #eeeeee;
  position: relative;
}

.step {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
}

.box:nth-child(1), .box:nth-child(2) {
  margin-right: 30px;
}

.image1 {
  background-image: url(1-9-2img/flow01.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.image2 {
  background-image: url(1-9-2img/flow02.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.image3 {
  background-image: url(1-9-2img/flow03.png);
  background-size: cover;
  background-position: center;
  height: 150px;
  margin: 10px 10px 15px 10px;
}

.fontt {
  margin: 0 10px 5px 10px;
}

.fonttt {
  margin: 0 10px 10px 10px;
}

.bottom {
  height: 50px;
  background-color: #aaaaaa;
}